body {
  background-color: #ECF1F7;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0em;
  padding: 0em;
  font-size: 0.6125em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.image {
  width: 100%;
}

.container {
  width: 80%;
  margin: 1em auto;
  background-color: #fff;
  border-radius: 30px;
}

.container .mini_container {
  padding: 1em;
}

.container .mini_container h2 {
  font-size: 0.7125em;
  margin-bottom: 0.4em;
}

.container .mini_container .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

.container .mini_container .contact .avatar_michelle {
  width: 20%;
}

.container .mini_container .contact .avatar_michelle img {
  border-radius: 80px;
}

.container .mini_container .contact .profile {
  width: 50%;
  margin-left: 1em;
}

.container .mini_container .contact .icon_share {
  width: 10%;
  margin-left: 2em;
  text-align: center;
}

.container .mini_container .contact .icon_share .icon_back {
  border-radius: 80px;
  background-color: #ECF1F7;
  padding: 0.3em;
}

.container .contact_share {
  background-color: #49556B;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: none;
}

.container .contact_share .icon_back {
  border-radius: 80px;
  background-color: #ECF1F7;
  padding: 0em 0.2em;
}

@media screen and (min-width: 675px) {
  body {
    padding: 1em;
  }
  h1, h2, h3, h4, h5, h6, p {
    margin: 0em;
    padding: 0em;
    font-size: 1em;
  }
  .container {
    padding: 0.1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    border-radius: 0px;
    width: 70%;
  }
  .container img {
    width: 40%;
  }
  .container .mini_container {
    padding: 2em;
  }
  .container .mini_container h2 {
    font-size: 1.2em;
    margin-bottom: 0.4em;
  }
  .container .mini_container .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2em;
  }
  .container .mini_container .contact .avatar_michelle {
    width: 40%;
  }
  .container .mini_container .contact .avatar_michelle img {
    border-radius: 50px;
  }
  .container .mini_container .contact .profile {
    width: 60%;
    margin-left: -3em;
  }
  .container .mini_container .contact .icon_share {
    width: 10%;
  }
  .container .mini_container .contact .icon_share .icon_back {
    border-radius: 60px;
    background-color: #ECF1F7;
    padding: 0.8em 0em;
  }
  .container .contact_share {
    position: absolute;
    width: 16em;
    top: 320px;
    left: 800px;
    background-color: #49556B;
    color: #fff;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.8em;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    display: none;
  }
  .container .contact_share p {
    margin-right: 1em;
  }
  .container .contact_share div {
    width: 20%;
  }
  .container .contact_share .icon_back {
    background-color: #49556B;
  }
}
/*# sourceMappingURL=style.css.map */